OPENROUTER_API_KEY=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
# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://jituyssrmqhylcbdcuqr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_B1pbS6lefnlZEjpazjTNsg_RvIpC3Ti

